<!doctype html>
<html>
	<head>
		<title>Assignment 2</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='mystyle.css') }}">
	</head>
   <body>
   	 
      <h1> ANALYZING DATA AND GAINING INSIGHTS:</h1>
      <ul>
      	<li>
      	<p><h3>How are the top 24 banks hiring?</h3></p>
      	<p>The goal here is to analyze the 24 banks to find their hiring trend in the fintech area.
			The hiring trends of top 24 banks are as follows - </p>
			<ul>
				<li>
					<p><b>JP Morgan Chase:</b></p>
					<img src="{{url_for('static',filename='jp_morgan.png')}}"/>
					<p>JP Morgan’s hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Blockchain, Cyber Security and Big Data are in high demand as per the above data. Information Technology sector has a whopping 95% dominance in the demand area followed by jobs in cybersecurity at 2.2%.</p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>
				<li>
					<p><b>Bank of America:</b> </p>
					<img src="{{url_for('static',filename='bank_of_america.png')}}"/>
					<p>Bank Of America’s hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Blockchain, Cyber Security and Big Data are in high demand as per the above data. Bank of America seems to focus on other areas as well and not just Information Technology. We see IT at 78% standing in the demand area followed by jobs in Cybersecurity at 15.38% and delving into the new realm of Artificial Intelligence at 4% and Big Data at 2%.</p>
					<p><b><i>Target Sector - Information Technology & CyberSecurity</i></b></p>
				</li>
				<li>
					<p><b>Wells Fargo:</b></p>
					<img src="{{url_for('static',filename='wells_fargo.png')}}"/>
					<p>Wells Fargo hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Cyber Security and Big Data are in high demand as per the above data. Wells Fargo does not seem to be looking to explore new talent in the blockchain sector. We see IT at 89% standing in the demand area followed by jobs in Cybersecurity at 6.69% and delving into the new realm of Artificial Intelligence at 2% and Big Data at 2%.</p>
					<p><b><i>Target Sector - Information Technology & CyberSecurity</i></b></p>
				</li>
				<li>
					<p><b>CitiGroup Inc.:</b></p>
					<img src="{{url_for('static',filename='CitiGroup.png')}}"/>
					<p>Citigroup Inc hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Cyber Security are in demand as per the above data. Citigroup does not seem to be looking to explore new talent in the big data & blockchain sector. We see IT at 93.4% standing in the demand area followed by jobs in Cybersecurity at 4% and delving into the new realm of Artificial Intelligence at 2% </p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>
				<li>
					<p><b>Morgan Stanley:</b></p>
					<img src="{{url_for('static',filename='morgan_stanley.png')}}"/>
					<p>Morgan Stanley hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Cyber Security are in demand as per the above data. Morgan Stanley does not seem to be looking to explore new talent in the big data & blockchain sector. We see IT at 82% standing as the demand sector followed by jobs in Cybersecurity at 14% and delving into the new realm of Artificial Intelligence at 3.5%.</p>
					<p><b><i>Target Sector - Information Technology & CyberSecurity</i></b></p>
				</li>
				<l/i>
					<p><b>Goldman Sachs Group:</b></p>
					<img src="{{url_for('static',filename='goldman_sachs.png')}}"/>
					<p>Goldman Sachs hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science are in demand as per the above data. Goldman Sachs does not seem to be looking to explore new talent in the big data & blockchain sector. We see IT at 89% standing as the demand sector followed by jobs in Cybersecurity at 6% and delving into the new realm of Artificial Intelligence at 4%.</p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>
				<li>
					<p><b>U.S. Bancorp:</b></p>
					<img src="{{url_for('static',filename='wells_fargo.png')}}"/>
					<p>US Bancorp hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science are in demand as per the above data. US Bancorp does not seem to be looking to explore new talent in the blockchain sector. We see IT at 93% standing as the demand sector followed by jobs in Cybersecurity at 2.5% and delving into the new realm of Artificial Intelligence at 4% </p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>

				<li>
					<p><b>American Express:</b></p>
					<img src="{{url_for('static',filename='american_express.png')}}"/>
					<p>American Express hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Blockchain and Big Data are in demand as per the above data. We see IT at 92% standing as the demand sector followed by jobs in Cybersecurity at 2.9% and delving into the new realm of Artificial Intelligence at 3.6%, blockchain at 1% and big data at 0.72%.
					</p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>

				<li>
					<p><b>PNC Finacial:</b></p>
					<img src="{{url_for('static',filename='pnc_bank.png')}}"/>
					<p>PNC Financial hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Blockchain and Cyber security are in demand as per the above data. We see IT at 86% standing as the demand sector followed by jobs in Cybersecurity at 10% and delving into the new realm of Artificial Intelligence at 3%, blockchain at 1%</p>
					<p><b><i>Target Sector - Information Technology & Cyber security</i></b><p>
				</li>
				<li>
					<p><b>Bank of New York Mellon:</b></p>
					<img src="{{url_for('static',filename='bny_mellon.png')}}"/>
					<p>BNY Mellon hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Blockchain, Cyber security, Big Data are in demand as per the above data. We see IT at 86% standing as the demand sector followed by jobs in Cybersecurity at 12% </p>
					<p><b><i>Target Sector - Information Technology</i></b><p>
				</li>
				<li>
					<p><b>Charles Schwab:</b></p>
					<img src="{{url_for('static',filename='charles.png')}}"/>
					<p>Charles Schwab hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Cybersecurity are in demand as per the above data. Charles Schwab does not seem to be looking to explore new talent in the blockchain & big data sector. We see IT at 94% standing as the demand sector followed by jobs in Cybersecurity at 5% and delving into the new realm of Artificial Intelligence at 0.8%</p>
					<p><b><i>Target Sector - Information Technology </i></b><p>
				</li>
				<li>
					<p><b>BB&T Corp:</b></p>
					<img src="{{url_for('static',filename='BB&T_Corp.png')}}"/>
					<p>BB&T Corp hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Cybersecurity are in demand as per the above data. BB&T Corp does not seem to be looking to explore new talent in the blockchain & big data sector. We see IT at 88% standing as the demand sector followed by jobs in Cybersecurity at 10% and delving into the new realm of Artificial Intelligence at 1.5% </p>
					<p><b><i>Target Sector - Information Technology & Cybersecurity</i></b><p>
				</li>
				<li>
					<p><b>State Street:</b> </p>
					<img src="{{url_for('static',filename='State_Street.png')}}"/>
					<p>State Street hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Cybersecurity are in demand as per the above data. State Street does not seem to be looking to explore new talent in the blockchain & big data sector. We see IT at 82% standing as the demand sector followed by jobs in Cybersecurity at 8% and delving into the new realm of Artificial Intelligence at 0.5% </p>
					<p><b><i>Target Sector - Information Technology</i></b><p>
				</li>
					<li>
						<p><b>SunTrust Bank: </b></p>
						<img src="{{url_for('static',filename='wells_fargo.png')}}"/>
						<p>SunTrust Bank hiring trend states that it is looking for talents in Fitech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Cybersecurity are in demand as per the above data. SunTrust Bank does not seem to be looking to explore new talent in the blockchain & big data sector. We see IT at 67% standing as the demand sector followed by jobs in Cybersecurity at 26% and delving into the new realm of Artificial Intelligence at 7.2%</p>
						<p><b><i>Target Sector - Information Technology & Cybersecurity</i></b><p>
					</li>
				<li>
					<p><b>Discover Financial:</b></p>
					<img src="{{url_for('static',filename='discover_finacials.png')}}"/>
					<p>Discover Financial hiring trend states that it is looking for talents in Fintech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Cybersecurity are in demand as per the above data. SunTrust Bank does not seem to be looking to explore new talent in the blockchain & big data sector. We see IT at 86% standing as the demand sector followed by jobs in Cybersecurity at 7% and delving into the new realm of Artificial Intelligence at 7%.</p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>
				<li>
					<p><b>M&T Bank:</b></p>
					<img src="{{url_for('static',filename='M&T.png')}}"/>
					<p>M&T Bank hiring trend states that it is looking for talents in Fintech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Cybersecurity are in demand as per the above data. M&T Bank does not seem to be looking to explore new talent in the blockchain & big data sector. We see IT at 92% standing as the demand sector followed by jobs in Cybersecurity at 7% and delving into the new realm of Artificial Intelligence at 1%.</p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>
				<li>
					<p><b>Northern Trust Group:</b></p>
					<img src="{{url_for('static',filename='Northern Trust.png')}}"/>
					<p>Northern Trust Group hiring trend states that it is looking for talents in Fintech areas wherein sectors like Information Technology, Cybersecurity, Blockchain are in demand as per the above data. Northern Trust Group seems to be looking to explore new talent in the Blockchain. We see IT at 93% standing as the demand sector followed by jobs in Cybersecurity at 3.5% and delving into the new realm of Blockchain at 3.5%.</p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>
				
				<li>
					<p><b>Fifth Third Bank Corp:</b></p>
					<img src="{{url_for('static',filename='Fifth_third.png')}}"/>
					<p>Fifth Third Bank Corp hiring trend states that it is looking for talents in Fintech sectors only in Information Technology. Fifth Third Bank Corp does not seem to be looking to explore new talent in the blockchain, big data sector, cybersecurity or Artificial Intelligence. We see IT alone at 100% standing as the demand sector. This bank does not delve much into the Fintech world.</p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>
				
				<li>
					<p><b>KeyCorp:</b></p>
					<img src="{{url_for('static',filename='Key_corp.png')}}"/>
					<p>KeyCorp hiring trend states that it is looking for talents in Fintech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science are in demand as per the above data. KeyCorp Bank does not seem to be looking to explore new talent in the cybersecurity, blockchain & big data sector. We see IT at 95% standing as the demand sector followed by jobs Artificial Intelligence at 5%. KeyCorp seems to delve slowly into Fintech world.</p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>

				<li>
					<p><b>Citizens Financial:</b></p>
					<img src="{{url_for('static',filename='Citizen.png')}}"/>
					<p>Citizens Financial hiring trend states that it is looking for talents in Fintech areas wherein sectors like Information Technology, Cybersecurity are in demand as per the above data. Citizens Financial does not seem to be looking to explore new talent in the blockchain & big data sector. We see IT at 92% standing as the demand sector followed by jobs in Cybersecurity at 7.5%</p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>
				
				<li>
					<p><b>Regions Finacial:</b></p>
					<img src="{{url_for('static',filename='Regions.png')}}"/>
					<p>Regions Financial hiring trend states that it is looking for talents in Fintech areas wherein sectors like Information Technology, Cybersecurity are in demand as per the above data. Regions Financial does not seem to be looking to explore new talent in the blockchain & big data sector. We see IT at 68% standing as the demand sector followed by jobs in Cybersecurity at 32%</p>
					<p><b><i>Target Sector - Information Technology</i></b></p>
				</li>
				
				<li>
					<p><b>Huntington Bancshares:</b></p>
					<img src="{{url_for('static',filename='Huntigton.png')}}"/>
					<p>Huntington Bancshares hiring trend states that it is looking for talents in Fintech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Cybersecurity and Big Data are in demand as per the above data. Huntington Bancshares does not seem to be looking to explore new talent in the blockchain sector. We see IT at 81% standing as the demand sector followed by jobs in Cybersecurity at 10% and delving into the new realm of Artificial Intelligence at 4% along with Big Data at 4%.</p>
					<p><b><i>Target Sector - Information Technology & Cybersecurity</i></b></p>
				</li>
				<li>
					<p><b>Comerica Inc.:</b></p>
					<img src="{{url_for('static',filename='Comerica.png')}}"/>
					<p>Comerica Inc hiring trend states that it is looking for talents in Fintech areas wherein sectors like Information Technology, Artificial Intelligence and Data Science, Blockchain are in demand as per the above data.Comerica Inc does not seem to be looking to explore new talent in the cybersecurity & big data sector. We see IT at 90% standing as the demand sector followed by jobs in blockchain at 4.5% and delving into the new realm of Artificial Intelligence at 4.5%.</p>
					<p><b><i>Target Sector - Information Technology/</i></b></p>
				</li>
      </ul>
  </li>
  <li>
  	<p><h3>How are the fintech related job hiring trends?</h3></p>
  	<img src="{{url_for('static',filename='Number of Jobs.png')}}"/>
  	<p>The fintech related job hiring trends as demonstrated by the graph above states that the Financial Operation is the most in demand sector following being Information Technology and a close third being Business & accounting. We can see that many have also delved into cybersecurity as the demand for mobile based application is higher compared to web based application. Risk Management also seems to be slowly catching up followed by Artificial Intelligence & Data Science the new trend in the market.</p>
  </li>
  <li>
  	<p><h3>Which companies have the most fintech related jobs and which ones least?</h3></p>
  	<img src="{{url_for('static',filename='bank_wise.png')}}"/>
  	<p>	After analysing all the 24 banks for their hiring trends in fintech it can be gathered that the bank leading in this area with majority opening in fintech sectors is Capital One followed by JP Morgan. These banks have accepted the latest trends in the market and taken up broadening their horizons into the fintech world. The bank that has just started or are very late to the game are Fifth Third Bank & Comerica Inc.</p>
  </li>
  	<li>
  		<p><h3>Rank the jobs in fintech categories. Which categories have the most jobs and which ones least?</h3></p>
  		<img src="{{url_for('static',filename='IT.png')}}"/>
  		<p>The jobs in fintech categories are -
			1. Information Technology
			2. Cyber Security
			3. Artificial Intelligence & Data Science
			4. Blockchain
			5. Big Data
			6. Thus it can be inferred that the most jobs are in the Information Technology sector and least in Big Data.
		</p>
	</li>
	<li>
		<p><h3>If you have a job seeker, which areas would you recommend the job seeker to focus on based on available jobs?</h3></p>
		<p>We would recommend the job seeker to focus on the sectors of Information Technology, Finance, Cybersecurity, Artificial Intelligence & Data Science as these are all the booming sectors as per the data gathered to find the hiring trends in the fintech world.</p>
	</li>		
	<li>
		<p><h3>Inference:</h3></p>
		<p>Thus it can be inferred that the hiring trends in the fintech sector for the top 24 banks in the United States is majorly concentrated in Information Technology, followed by CyberSecurity, Artificial Intelligence & Data Science and slowly expanding into blockchain & big data.</p>
	</li>
	</ul>		
   </body>
</html>